<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1054818004671-ohnq744namcci21dqkh6frl0bd6h7tcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054818004671-ohnq744namcci21dqkh6frl0bd6h7tcv</string>
	<key>API_KEY</key>
	<string>AIzaSyDt6oZYM39KYkXvW1vLxL0LjuIfNy9iZwI</string>
	<key>GCM_SENDER_ID</key>
	<string>1054818004671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olijoApps.CluckCluck</string>
	<key>PROJECT_ID</key>
	<string>cluck-cluck-8f6e5</string>
	<key>STORAGE_BUCKET</key>
	<string>cluck-cluck-8f6e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054818004671:ios:01d74b73e398c7d1</string>
	<key>DATABASE_URL</key>
	<string>https://cluck-cluck-8f6e5.firebaseio.com</string>
</dict>
</plist>